{if $lang == 'de'}




    {*<div class="container d-none d-lg-block mb-5 mt-5" style="background: #1897be;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="col px-5">
                <h1 class="big-header">WATCH OUR VIDEO</h1>
            </div>
        </div>
    </div>
    <div class="container d-none d-lg-block">
        <div class="row">
            <div class="col mb-5">
                <div align="center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/UfYn69cXI1k?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>*}

    {*<div class="container d-none d-lg-block mb-4 mt-2" style="background: #ddc4b8;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="row" style="padding-top: -260px;">
                            <div class="col-md-12 center-block">
                            <form method="post" action="/{$lang}/kategorie/suche/" style="text-align: center;">
                            {if $filter.postalcode}
                                <input id="xsearch" type="text" class="form-control" name="filter[postalcode]" value="{$filter.postalcode}" style="width:720px; height:56px; display:inline; border:0; border-radius:0;"> <button type="submit" style="position:absolute;margin-left:-65px; background:#fff; color:#888; height:55px; border:0; border-radius:0;" class="btn btn-default blue_btn"><i class="fas fa-search fa-2x"></i></button>
                            {else}
                                <input id="xsearch" type="text" class="form-control" name="filter[postalcode]" placeholder="{$translation.search_placeholder}" style="width:720px; height:56px; display:inline; border:0; border-radius:0;"> <button type="submit" style="position:absolute;margin-left:-65px; background:#fff; color:#888; height:55px; border:0; border-radius:0;" class="btn btn-default blue_btn"><i class="fas fa-search fa-2x"></i></button>
                            {/if}
                            </form>
                            </div>
                        </div>
        </div>
    </div>*
    {*<div class="container d-none d-lg-block mb-4 mt-2" style="background: #dbc4b7;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="col px-5">
                <h1 class="big-header">REISEN ZU DEINEN PREISEN</h1>
            </div>
        </div>
    </div>*}

{/if}

{if $lang == 'en'}

    {*<div class="container d-none d-lg-block mb-4 mt-2" style="background: #ddc4b8;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="row" style="padding-top: -260px;">
                            <div class="col-md-12 center-block">
                            <form method="post" action="/{$lang}/kategorie/suche/" style="text-align: center;">
                            {if $filter.postalcode}
                                <input id="xsearch" type="text" class="form-control" name="filter[postalcode]" value="{$filter.postalcode}" style="width:720px; height:56px; display:inline; border:0; border-radius:0;"> <button type="submit" style="position:absolute;margin-left:-65px; background:#fff; color:#888; height:55px; border:0; border-radius:0;" class="btn btn-default blue_btn"><i class="fas fa-search fa-2x"></i></button>
                            {else}
                                <input id="xsearch" type="text" class="form-control" name="filter[postalcode]" placeholder="{$translation.search_placeholder}" style="width:720px; height:56px; display:inline; border:0; border-radius:0;"> <button type="submit" style="position:absolute;margin-left:-65px; background:#fff; color:#888; height:55px; border:0; border-radius:0;" class="btn btn-default blue_btn"><i class="fas fa-search fa-2x"></i></button>
                            {/if}
                            </form>
                            </div>
                        </div>
        </div>
    </div>*}


    {*<div class="container d-none d-lg-block mb-4 mt-2" style="background: #dbc4b7;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="col px-5">
                <h1 class="big-header">HOLIDAYS AS YOU WANT IT</h1>
            </div>
        </div>
    </div>*}




    {*<div class="container">
			<div class="row">
				<div class="col-lg-7 pr-lg-8 mb-5 mt-0">
					 <h2>SELECT YOUR FAVORITE DESTINATIONS</h2>
				</div>
			</div>
	</div>*}


    {*<div class="container d-none d-lg-block mb-5 mt-5" style="background: #1897be;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="col px-5">
                <h1 class="big-header">WATCH OUR VIDEO</h1>
            </div>
        </div>
    </div>
    <div class="container d-none d-lg-block">
        <div class="row">
            <div class="col mb-5">
                <div align="center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/UfYn69cXI1k?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>*}
    {*<div class="container d-none d-lg-block mb-4 mt-2" style="background: #3a7cbb;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="col px-5">
                <h1 class="big-header">HOLIDAYS AS YOU WANT IT</h1>
            </div>
        </div>
    </div>*}

{/if}
