<div class="container">
	<div class="row">
		<div class="col">
            {$data.inquiry.pagedata.content}

			<table align="left"
				   role="presentation" width="100%"
				   style="margin-top: 10px; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-tspace: 0; mso-table-rspace: 0; mso-table-bspace: 0; mso-table-lspace: 0;"
				   valign="top">
				<tbody>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_number}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.number}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_link}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						<a href="{$data.inquiry.url}" target="_blank">{$data.inquiry.url}</a>
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_vacation_destination}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.country}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_federal_state}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.federal_state}
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_topics}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.topics}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_category}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.category}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_provisions}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.provision}
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_flexible_travel_period}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.flexible_travel_time}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_travel_period}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.date_from} {$translation.inquiry_until} {$data.inquiry.date_until}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_number_of_nights}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.days}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_number_of_adults}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.adults}
					</td>
				</tr>
				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_number_of_children}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.children}
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_additional_info}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.additional_info}
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
						&nbsp;
					</td>
				</tr>

				<tr align="center"
					style="vertical-align: top; text-align: left;"
					valign="top">
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$translation.inquiry_budget}:
					</td>
					<td style="word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 1px; padding-left: 1px;"
						valign="top">
                        {$data.inquiry.budget}
					</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
