{if $lang == 'de'}


	{*<div class="container mb-5 mt-0" style="background: #8a8a8a;">
        <div class="row justify-content-center align-items-center py-4">
            <div class="col px-5">
                <h1 class="big-header">ÜBER UNS</h1>
            </div>
        </div>
    </div>*}

	{*<div class="container d-none d-lg-block mb-4 mt-2" style="background: #685c56;"> // SUCHFELD
        <div class="row justify-content-center align-items-center py-4">
            <div class="row" style="padding-top: -260px;">
                            <div class="col-md-12 center-block">
                            <form method="post" action="/{$lang}/kategorie/suche/" style="text-align: center;">
                            {if $filter.postalcode}
                                <input id="xsearch" type="text" class="form-control" name="filter[postalcode]" value="{$filter.postalcode}" style="width:720px; height:56px; display:inline; border:0; border-radius:0;"> <button type="submit" style="position:absolute;margin-left:-65px; background:#fff; color:#888; height:55px; border:0; border-radius:0;" class="btn btn-default blue_btn"><i class="fas fa-search fa-2x"></i></button>
                            {else}
                                <input id="xsearch" type="text" class="form-control" name="filter[postalcode]" placeholder="{$translation.search_placeholder}" style="width:720px; height:56px; display:inline; border:0; border-radius:0;"> <button type="submit" style="position:absolute;margin-left:-65px; background:#fff; color:#888; height:55px; border:0; border-radius:0;" class="btn btn-default blue_btn"><i class="fas fa-search fa-2x"></i></button>
                            {/if}
                            </form>
                            </div>
                        </div>
        </div>
    </div>*}

	<br>


	{*<div class="container mb-5 mt-0" style="background: #ffb400;">
          <div class="row justify-content-center align-items-center py-2">
                 <div class="col px-12"> <h6 class="big-banner">UPDATES</h6>
                </div>
        </div>
    </div>


<div class="container">
         <div class="row">

                <br>
                <h4>HOTEL***S BRUNNER IM WALLIS / SCHWEIZ </h4>

                Wir freuen uns darauf, am 27.06. bei der Eröffnung des neuen Wellnessbereiches des Hotels BRUNNER dabei zu sein und ganz bestimmt einmalige Eröffnungspauschalen präsentieren zu dürfen. Die Bereichterstattung wird von unserer Mitarbeiterin Julia geleitet.
                <br>
                <br>
                 <a href="https://hobidd.com/de/artikel/551/">WEITER ZUM ANGEBOT</a></p>
                <br>
                <br>
        </div>

        <div class="row">

                <br>
                <h4>HOTEL***S BRUNNER IM WALLIS / SCHWEIZ </h4>

                Wir freuen uns darauf, am 27.06., wo wir als Gast im Mittelpunkt stehen und die persönliche Note
                des Hauses nicht zu kurz kommt.
                <br>
                <br>
                <br>
        </div>

    </div>*}


	<div>
		<h9 class="font-montserrat">Entdecke neue Reiseziele.</h9>
	</div>
	<br>
	<br>

	{*<div>
                <h7>Neuer Premiumpartner an Board</h7>
    </div>*}

	{*<div class="container mb-5 mt-0" style="background: #ae7721;">
		  <div class="row justify-content-center align-items-center py-2">
			     <div class="col px-12"> <h6 class="big-banner">BASICS</h6>
			    </div>
		</div>
	</div>*}




	<div class="container">
		<div class="row">

			<br>
			{*<h3>HOBIDD IST EINE "GAST TRIFFT HOTEL" PLATTFORM</h3>*}





			Die besten Urlaube sind bekanntlich dort, wo wir als Gast im Mittelpunkt stehen und die persönliche Note des Hauses nicht zu kurz kommt.
			<br>
			<br>
			Doch wie findet man solch ausgewählte Reiseziele?
			<br>
			<br>
			Genau dieser Frage sind wir bei hobidd nachgegangen. Unsere Mission: Wir bringen Reisende und Anbieter zusammen – schnell, reibungslos und fair. Das Urlaubsfeeling soll schon vor dem Urlaub aufkommen und eine Win-Win Situation für alle Beteiligten sein!



			<br>
			<br>
			<br>


			<h3>WAS BEDEUTET HOBIDD UND WARUM SIND WIR ANDERS</h2>

				Der Name hobidd ist eine Abkürzung für „HOLIDAY BIDDINGS“, denn was unsere Plattform ausmacht ist, dass potenzielle Gäste deren Wunschpreis mit dem jeweiligen Anbieter direkt aushandeln können – und zwar mit bis zu 5 Preisvorschlägen pro Urlaubsangebot. Somit wird sichergestellt, dass beide Seiten den für sie bestmöglichen Preis erzielen.
				<br><br>



		</div>

	</div>


	</div>



{/if}
{if $lang == 'en'}

	<div>
		<h2 class="discover-destinations">{$translation.discover_destination}</h2>
	</div>
	<br>
	<br>
	{*<div class="row justify-content-center align-items-center py-2">
             <div> <h8>WHY HOBIDD?</h8></div>
    </div>*}


	{*<div class="container mb-5 mt-0" style="background: #4053a0;">
              <div class="row justify-content-center align-items-center py-2">
                     <div class="col px-12"> <h6 class="big-banner">BASICS</h6>
                    </div>
            </div>
    </div>*}

	{*<div>
                    <h9 class="font-montserrat">{$translation.discover_destination}</h9>
        </div>*}

	<div class="container">
		<br>
		<div class="row">
			<div class="col">
				<div class="row">

					<h2>Hobidd brings guests and providers toghether</h2>
				</div>
			</div>

			The best holidays are always in hotels that focus fully on their guests and add their own personal touch
			to everything.
			<br>
			<br>

			Yet, how do you go about finding these exclusive hotel locations?
			<br>
			<br>

			That is precisely the question that we at hobidd chose to develop an answer to. Our mission is to bring
			travellers and hotels together – swiftly, smoothly and fairly. Experience that holiday feeling already
			before the holiday starts! The holiday package should be a win-win arrangement for all involved, too!
			<br>
			<br>
			<br>
			<div class="row">
				<div class="col">
					<h2 style="color:#45002e" ;>WHAT DOES HOBIDD STAND FOR, AND WHY ARE WE DIFFERENT</h2>
				</div>
			</div>

			The name is an abbreviation of “HOLIDAY BIDDINGS”, and what sets our platform apart from others, is that
			potential guests can negotiate their desired rate directly with the respective provider. They can place
			up to five bids per holiday offer. This ensures that both sides can agree on the best mutually
			acceptable price.
			<br>
			<br>
			</span>


		</div>
		{*<div class="container mb-5 mt-5" style="background: #dbc4b7;">
            <div class="row justify-content-center align-items-center py-4">
                <div class="col px-5">
                    <h1 class="big-header">MORE ABOUT HOBIDD</h1>
                </div>
            </div>
        </div>*}

	</div>
	{*<div class="container mb-5 pt-5">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 pb-5">
                <h1>bidd for best prices</h1>
                On hobidd you will find packages ONLY listed directly from providers. Submit your price suggestions for them. You are in direct touch with providers and therefore you should always get best prices.
            </div>
            <div class="col-12 col-md-6 pl-md-5 pb-5">
                <h1>Like to win vacations</h1>
                A simple <strong>LIKE</strong> is enough to participate in hobidd prize draws. No registration needed.
            </div>
            <div class="col-12 col-md-6 pl-md-5 pb-5">
                <h1>Like to win vacations</h1>
                A simple <strong>LIKE</strong> is enough to participate in hobidd prize draws. No registration needed.
            </div>
        </div>
    </div>*}


	{*<div class="container pt-5 mb-5">
        <div class="row">
            <div class="col">
                <div align="center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/4zPoiXrez0Y?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>*}
	{* <div class="container mb-5 mt-5" style="background: #6f0080;">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col px-5">
                <h1 class="big-header">BIDD TO GET THE VERY BEST PRICES<br>DIRECTLY FROM THE PROVIDERS.</h1>
            </div>
        </div>
    </div> *}
	{*<div class="container mb-5 pt-5">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 pb-5">
                <h1>bidd for best prices</h1>
                On hobidd you will find packages ONLY listed directly from providers. Submit your price suggestions for them. You are in direct touch with providers and therefore you should always get best prices.
            </div>
            <div class="col-12 col-md-6 pl-md-5 pb-5">
                <h1>Like to win vacations</h1>
                A simple <strong>LIKE</strong> is enough to participate in hobidd prize draws. No registration needed.
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 pt-5">
                <h1>Choose your destination</h1>
                Search for places and countries which you would like to visit or use our full text search to find your favoured accommodation.
            </div>
            <div class="col-12 col-md-6 pl-md-5 pt-5">
                <h1>More information</h1>
                You want to get more information? Feel free to visit our  <a href="/{$lang}/faq/">FAQ</a> und <a href="/{$lang}/agb/">CT&Cs</a> pages. Should you nevertheless have more questions simply <a href="/{$lang}/kontakt/"> contact </a> us.
            </div>
        </div>
    </div>*}

	{*<div class="container mb-5 mt-5" style="background: #dbc4b7; height: 300px;">
        <div class="row justify-content-center align-items-center" style="height: 300px;">
            <div class="col px-5">
                <h1 class="big-header">GET THE BEST OFFERS DIRECTLY FROM PROVIDERS. WIN HOLIDAYS OR BIDD FOR BEST RATES EVER.</h1>
            </div>
        </div>
    </div>*}
{/if}