<!-- CSS attributes for the HTML test output -->

body {
    background-color: #ffffff;
    color: #000000;
}

div.failure {
    border: 2px #FF0000 solid;
    margin : 1em;
}

h1 {
   font-size: x-small
}

div.test {
  border : 1px #000000 solid;
  width : 100%;
  margin-top : 1em;
  padding : 2px;
}

.title {
  top : 0px;
  left : 0px;
  text-align : center;
  background : #000000;
  color : #FFFFFF;
  padding : 4px;
}

div.testlineup {
   border: 2px #000000 solid;
}


